{% extends "basic.html" %}

{% load static %}
{% block title %} Login {% endblock title %} 
{% block stylecss %}
<link 
    rel="stylesheet"
    href="{% static 'assets/css/loginform.css' %}"


/>

{% endblock stylecss %}

{% block body %}

<h1> login Form goes here</h1>
            <!--login form goes here-->
            
            <div class="form1">
{% for message in messages %}


    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
        <strong>{{message}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
{% endfor %}
                <form class="login-form" action="/auth/login/" method="post">{% csrf_token %}

                    <label for="user-fname">First Name:</label><br>
                    <input type="text" placeholder="User fname" name="fname" required><br>

                    <label for="password">Type Password:</label><br>
                    <input type="password" placeholder="type password" name="pass1" required><br><br>

                    <button id="login" type="submit">Login</button>
                    New User ? <a href="/auth/signup/">SignUp</a>
                    
                </form>

            </div>



{% endblock body %}
